/* Header Gradients and Adjustments */
.customHeader {
    background: linear-gradient(to bottom, #ffffff, #4c7fe5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 4.2px !important;
    font-weight: 800 !important;
}

.form-container {
    display: block;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 3px;
    text-align: center;
    background: linear-gradient(160deg, #031884, transparent);
    padding: 70px;
    border-radius: 50px;
    height: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.custom-input {
    display: block;
    margin: 0 auto;
    width: 100%;
}


.form-label {
    color: white;
    margin: 10px;
    text-align: center;
}

button {
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.btn:hover {
    box-shadow: 0px 0px 16px 0px #6c85fb !important;
}

.btn-gradient {
    background-image: linear-gradient(to right, #6c85fb, #0624d5) !important;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .form-container {
        width: 80%;
        padding: 50px;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 30px;
    }

    .col-6 {
        width: 100%;
        text-align: center;
    }

        .col-6 button {
            width: 100%;
        }
}

@media (max-width: 576px) {
    .customHeader {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .form-container {
        width: 100%;
        padding: 20px;
    }

    .custom-input {
        width: 100%;
    }

    .form-label {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}
